* {
  font-family: 'Nunito', sans-serif;
}
/*  calendar cards */
.fade-card-enter, .fade-card-leave-to {
  max-height: 0;
  opacity: 0;
}
.fade-card-enter-to {
  max-height: 400px;
}
.fade-card-enter-active {
  transition: opacity .3s ease .3s, max-height .3s step-start;
}
.fade-card-leave {
  max-height: 400px;
}
.fade-card-leave-active {
  transition: opacity .3s ease, max-height .3s step-end;
}

/* modal */
.slide-enter-active, .slide-leave-active {
  transition: all .5s;
}
.slide-enter, .slide-leave-active {
  transform: translateX(100px);
  opacity: 0;
}
/* confirmation */
.drop-enter-active, .drop-leave-active {
  transition: all .5s;
}
.drop-enter, .drop-leave-active {
  transform: translateY(-100px);
  opacity: 0;
}
/* tabs */
.fade-enter-active, 
.fade-leave-active {
  transition: all .5s
}
.fade-enter, 
.fade-leave-active {
  opacity: 0
}
/* page */
.page-enter-active, .page-leave-active {
  transition: all .5s;
}
.page-enter, .page-leave-active {
  transform: translateX(100px);
  opacity: 0;
}
/* remove */
.shield-enter-active, 
.shield-leave-active {
  transition: all .5s;
}
.shield-enter, 
.shield-leave-active {
  display: none;
}


